
<div class="container top-padding">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="field">
        <label>Enter Length</label>
        <!--event handler for the input
        $event is the parameter that will allow us to have access to the 
        input value the user types. then we chain it with .target.value-->
        <!--the method will be called with whatever the user typed in the input-->
        <input
          class="input"
          (input)="onChangeLength($any($event.target).value)"
        />
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <!--Event handler-->
            <input (change)="onChangeUseLetters()" type="checkbox" />
            Use Letters
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <!--Event handler-->
            <input (change)="onChangeUseNumbers()" type="checkbox" />
            Use Numbers
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <!--Event handler-->
            <input (change)="onChangeUseSymbols()" type="checkbox" />
            Use Symbols
          </label>
        </div>
      </div>
<!--Event handling-->
  <!--[disabled] makes the button disabled unless the user inputs a length and at least one of the checkbox is clicked-->
  <button class="button is-fullwidth is-link"
    [disabled]="
      !(length && (includeLetters || includeNumbers || includeSymbols))
    "
    (click)="onButtonClick()"
  >
    Generate!
  </button>

  <!--*ngIf structural directive conditionally shows or hide the box div
  because *ngIf="password" once the password result is obtained the box will be
shown, until then it stays hidden-->
  <div class="box top-margin" *ngIf="password">
    <label for="">Your Password</label>
    <!--Property binding-->
    <input class="input" [value]="password" />
  </div>

    </div>
  </div>
</div>




<!--Interpolation syntax
{{ password }}-->


